# OpenSky Network API credentials
OPENSKY_CLIENT_ID=your_client_id_here
OPENSKY_CLIENT_SECRET=your_client_secret_here

# PostgreSQL Database (Docker)
DB_HOST=host
DB_PORT=port
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
DATABASE_URL=db_url